# Ignore
*

# Include
!.bash_logout
!.bash_profile
!.bashrc
!.bashrc.d/
!.bashrc.d/**
!.emacs.d/
!.emacs.d/early-init.el
!.emacs.d/init.el
!.emacs.d/bookmarks
!.gitattributes
!.gitconfig
!.gitignore
!.sbclrc
!.tmux.conf
!.gnupg/
!.gnupg/**
!.ssh/
!.ssh/**
!.inputrc
!.bin/
!.bin/**

# Exclude
.ssh/known_hosts.old
