## Ignore
*

## Include
!.bash_logout
!.bash_profile
!.bashrc
!.bashrc.d/
!.bashrc.d/**

#@ htop
!.config/
!.config/htop/
!.config/htop/htoprc

#@ emacs
!.emacs.d/
!.emacs.d/early-init.el
!.emacs.d/init.el
!.emacs.d/bookmarks
!.emacs.d/desktop-save

#@ jed
!.jedrc

#@ git / git crypt
!.gitattributes
!.gitconfig
!.gitignore

#@ sbcl
!.sbclrc

#@ tmux
!.tmux.conf

#@ gpg
!.gnupg/
!.gnupg/**

#@ ssh
!.ssh/
!.ssh/config
!.ssh/*.pub
!.ssh/*.pass

#@ readline
!.inputrc

#@ scripts
!.bin/
!.bin/**

# except these
.bin/cs-*
.bin/vial
