## Ignore
*

## Include

#@ git crypt
!.gitattributes

#@ bash
!.bash_logout
!.bash_profile
!.bashrc
!.bashrc.d/
!.bashrc.d/**

#@ bash history
!.history/
!.history/**

#@ htop
!.config/
!.config/htop/
!.config/htop/htoprc

#@ emacs
!.emacs.d/
!.emacs.d/early-init.el
!.emacs.d/init.el
!.emacs.d/bookmarks
!.emacs.d/desktop-save
!.emacs.d/.authinfo.gpg

#@ jed
!.jedrc

#@ git / git crypt
!.gitattributes
!.gitconfig
!.gitignore

#@ sbcl
!.sbclrc

#@ tmux
!.tmux.conf

#@ gpg
!.gnupg/
!.gnupg/**

#@ ssh
!.ssh/
!.ssh/config
!.ssh/*.pub
!.ssh/*.pass

#@ readline
!.inputrc

#@ scripts
!.bin/
!.bin/**

# except these
.bin/cs-*
.bin/vial/vial-*
.bin/linphone/linphone-*
.bin/spectre
.bin/bashlib
.bin/racket
