#!/usr/bin/env bash

# --------------------------------------------------------------------------------------------------
# path
# --------------------------------------------------------------------------------------------------
PATH="$HOME/.bin:$PATH"

# --------------------------------------------------------------------------------------------------
# shell options                    See: https://www.mankier.com/1/bash#Shell_Builtin_Commands
# --------------------------------------------------------------------------------------------------
shopt -s autocd                    # cd wihout cd
shopt -s cdable_vars               # if var expands to a dir, cd into it
shopt -s cdspell                   # cd spell checking
shopt -s checkhash                 # check hash table; then path
shopt -s checkjobs                 # check running jobs before exiting a shell
shopt -s direxpand                 # do word expansion where a directory name would exist 
shopt -s dirspell                  # correct directory names during completion
shopt -s dotglob                   # match filenames that begin with '.' during glob expansion
shopt -s extglob                   # extended pattern matching. See Pathname Expansion in Bash(1)

shopt -s globstar                  # change how globs match files and directories
                                   #   **  = match all files and 0+ directories and subdirs
                                   #   **/ = match 0+ directories and subdirs

shopt -s gnu_errfmt                # write shell error messages in GNU error message format
                                   #   see: https://www.gnu.org/prep/standards/html_node/Errors.html

shopt -s no_empty_cmd_completion   # do not attempt completion when the line is empty

# --------------------------------------------------------------------------------------------------
# history options                  See: https://www.mankier.com/1/bash#History_Expansion
#                                       https://mywiki.wooledge.org/BashFAQ/088
# --------------------------------------------------------------------------------------------------
shopt -s cmdhist                   # attempt to save multi-line commands in the same history entry
shopt -s histappend                # append new session history into .bash_history
shopt -s histreedit                # allow editing on failed history substitution
shopt -s histverify                # on history substitution allow editing before sending

# --------------------------------------------------------------------------------------------------
# history variables                See: https://www.mankier.com/1/bash#History
#                                       https://mywiki.wooledge.org/BashFAQ/088
# --------------------------------------------------------------------------------------------------
export PROMPT_COMMAND="${PROMPT_COMMAND:-:} ; history -a"
export HISTFILESIZE=-1
export HISTSIZE=-1
export HISTCONTROL="ignoreboth"

# --------------------------------------------------------------------------------------------------
# history functions                See: https://mywiki.wooledge.org/BashFAQ/088
# --------------------------------------------------------------------------------------------------
dedupe-history() {
    awk 'NR==FNR && !/^#/{lines[$0]=FNR;next} lines[$0]==FNR' "$HISTFILE" "$HISTFILE" \
	> "/tmp/${HISTFILE##*/}.compressed" \
	&& mv "/tmp/${HISTFILE##*/}.compressed" "$HISTFILE"
}

# --------------------------------------------------------------------------------------------------
# deduplicate $HISTFILE and make it append only
# --------------------------------------------------------------------------------------------------
if lsattr -a $HISTFILE | grep -qE '^-+a-+.*$'; then
    sudo chattr -a $HISTFILE
    dedupe-history
    sudo chattr +a $HISTFILE
else
    dedupe-history
    sudo chattr +a $HISTFILE
fi

# --------------------------------------------------------------------------------------------------
# TODO                             Additionally limit the current $HISTFILE to the last 10,000
#                                  lines, archiving the rest of the lines into a new file.
#
#                                  Allow for the following functionality:
#                                   - fast search over all files
#                                   - optional history builtin manipulations over all files
# --------------------------------------------------------------------------------------------------
