#!/usr/bin/env bash

# shell options
SHELL_OPTS=(
    checkhash
    dotglob
    dirspell
    extglob
    failglob
    globstar
    gnu_errfmt
    histreedit
    histverify    
)

shopt -s ${SHELL_OPTS[@]}

# history options
shopt -s cmdhist                          # preserve multi-line command lines with a semi-colon
export HISTFILESIZE="10000"               # save 10,000 command lines
export HISTCONTROL="ignoreboth:erasedups" # ignore lines that start with a space, and duplicate lines. Erase previous duplicates of current line

IGNORE_PATTERNS=(
    '&:'
    'l?(a|l|s|z)?(*):'
    'history?(*):'
    'cd?(*):'
    'mkdir?(*):'
    'exit:'
    'help?(*)'
    'rm?(*)'
)

export HISTIGNORE="$(printf "%s" "${IGNORE_PATTERNS[@]}")" # patterns to ignore before saving to $HISTFILE

# add local bin directory to path
PATH="$HOME/.bin:$PATH"
