#!/usr/bin/env bash

# shell options
shopt -s checkhash
shopt -s dotglob
shopt -s dirspell
shopt -s extglob
#shopt -s failglob
shopt -s globstar
shopt -s gnu_errfmt
shopt -s histreedit
shopt -s histverify

# history options
shopt -s cmdhist
export HISTFILESIZE="10000"
export HISTCONTROL="ignoreboth:erasedups"

# add local bin directory to path
PATH="$HOME/.bin:$PATH"
