#!/usr/bin/env bash

# Create $HOME/.tmux.conf if it doesn't exist
if [[ ! -f $HOME/.tmux.conf ]]; then
    cat <<EOF > $HOME/.tmux.conf
set -g base-index 1
set -wg renumber-windows on	    
set -wg base-index 1
set -wg pane-base-index 1
set -g display-panes-time 5000
EOF
fi

# Start tmux on every shell login
if [[ -x "$(command -v tmux)" && -n "${WAYLAND_DISPLAY:-$DISPLAY}" && -z "${TMUX}" ]]; then
    if ! tmux -2 attach; then
        session="$(openssl rand -hex 2)"
	tmux new-session -d -s "$session"
	tmux split-window -h
	tmux select-pane -t 1
	tmux -2 attach-session -d	
    fi >/dev/null 2>&1
fi
